## Deliverable 3. Create a Travel Itinerary Map.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [23]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,La Ronge,CA,48.45,scattered clouds,55.1001,-105.2842,Northland Motor Hotel
1,4,Paamiut,GL,33.80,broken clouds,61.9940,-49.6678,Pistut
2,6,Bay Roberts,CA,44.33,few clouds,47.5999,-53.2648,Stonewall Inn
3,8,Thompson,CA,36.27,overcast clouds,55.7435,-97.8558,Burntwood Hotel
4,14,Shemursha,RU,37.15,clear sky,54.8866,47.5189,"Gostinitsa ""Shemursha"""
...,...,...,...,...,...,...,...,...
127,686,Longyearbyen,SJ,28.24,broken clouds,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
128,694,Yar-Sale,RU,33.82,overcast clouds,66.8333,70.8333,Yalemd
129,697,Havre-Saint-Pierre,CA,40.28,clear sky,50.2334,-63.5986,Auberge Niapiskau
130,701,Viedma,AR,48.18,overcast clouds,-40.8135,-62.9967,Hotel Cristal
131,707,Severo-Yeniseyskiy,RU,49.26,moderate rain,60.3725,93.0408,Aktolik

In [24]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 4a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_df = clean_hotel_df
vacation_start = vacation_df.loc[vacation_df['City'] == 'Timaru']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Bluff']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Dunedin']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Kaitangata'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Mataura']

In [27]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [28]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,536,Timaru,NZ,49.06,overcast clouds,-44.4000,171.2500,The Grosvenor
1,249,Dunedin,NZ,47.80,light rain,-45.8742,170.5036,Scenic Hotel Southern Cross
2,273,Kaitangata,NZ,42.01,broken clouds,-46.2817,169.8464,Kaitangata Motor Camp
3,43,Mataura,NZ,42.48,light rain,-46.1927,168.8643,Ellie's Villa

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))